@charset "UTF-8";

@font-face {
  font-family: "stoneworking";
  src:url("../fonts/stoneworking.eot");
  src:url("../fonts/stoneworking.eot?#iefix") format("embedded-opentype"),
    url("../fonts/stoneworking.woff") format("woff"),
    url("../fonts/stoneworking.ttf") format("truetype"),
    url("../fonts/stoneworking.svg#stoneworking") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "stoneworking" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stoneworking" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\61";
}
.icon-mail:before {
  content: "\62";
}
.icon-whatsapp:before {
  content: "\63";
}
.icon-time:before {
  content: "\65";
}
.icon-money:before {
  content: "\66";
}
.icon-wallet-money:before {
  content: "\67";
}
.icon-cool:before {
  content: "\68";
}
.icon-bullhorn:before {
  content: "\69";
}
.icon-facebook:before {
  content: "\6b";
}
.icon-youtubesearch:before {
  content: "\6a";
}
.icon-magnify:before {
  content: "\64";
}
.icon-down-arrow:before {
  content: "\6c";
}
.icon-left-arrow:before {
  content: "\6d";
}
.icon-right-arrow:before {
  content: "\6e";
}
.icon-up-arrow:before {
  content: "\6f";
}
