section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

header {
	min-height: auto;
	margin: 80px auto;
	width: 90%;
}


.section-heading {
  margin-top: 0;
}

.service-box {
  	max-width: 400px;
  	margin: 50px auto 0;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}