$magnifyColor: hsla(0, 0, 50, .7);
$magnifyHoverColor: hsl(210,100,60);

.eye {
  position: relative;
  display: inline-block;
  font-family: Glyphicons Halflings;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  &:hover:after {
    color: $magnifyHoverColor;
  }

  &:after {
    content: "\e003";
    position: absolute;
    font-size: 40px;
    right: 20px;
    bottom: 20px;
    color: $magnifyColor;
  }
}