$magnifyColor: hsla(0, 100, 100, .5);
$magnifyHoverColor: rgba(#fff, 1);

.magnify-search {
  position: relative;
  display: inline-block;
  font-family: Glyphicons Halflings;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  &:hover:after {
    color: $magnifyHoverColor;
    transition: all .4s;
    font-size: 50px;
  }

  &:after {
    content: "\e003";
    position: absolute;
    font-size: 40px;
    right: 20px;
    bottom: 20px;
    color: $magnifyColor;
    transition: all .3s;
  }
}